@import '../config.less';

.header {
    margin-left: -5%;
    margin-right: -5%;
}

.dropdown-btns {
    display: flex;
    flex-direction: column;
}

.dashboard {
    background-color: #f3f3f3;
    display: flex;
    border-left: 1px solid @border-grey;
    border-right: 1px solid @border-grey;
}

.type {
    flex-grow: 1;
    z-index: 0;
}
