@import '../../config.less';

.group-container {
    display: flex;
}

.groups-page {
    width: 85%;
    min-height: 100vh;

    .page-header{

        &.card {
            width: 32%;
            .card-header {
                border-bottom: none;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}

#upcoming {
    border: 1px solid @border-grey;
}

.groups {
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap;
    
    .card {
        width: 32%;
        margin-bottom: 1rem;
        max-height: 25rem;

        .card-body {
            overflow: auto;
            max-height: 100%;
            padding: 1rem;
        }
    }

    .event {
        color: white;
        margin-bottom: 0.5rem;

        .card {
            width: 100%;

            &:last-child {
                margin-bottom: 0;
            }
            
            .card-header {
                padding: 0.25rem;
            }
        
            .card-body {
               // background-color: @light-blue;
                padding: 0.25rem;
            }
        }
    }
}

.no-events {
    border: 1px solid @border-grey;
    border-radius: 3px;
    padding: 10px;
    color: black;
}

.new-group {
    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
