<mnm-header></mnm-header>
<div class="group-container">
    <recommended style="width: 17%"></recommended>
<div class="groups-page" *ngIf="groups">
    <div class="card mx-1 mt-3 page-header">
        <div class="card-header">
            <div style="font-size: 1.5rem">Groups</div>
            <div ngbDropdown>
                <button class="btn" ngbDropdownToggle id="upcoming">{{upcomingGranularity}}</button>
                <div ngbDropdownMenu aria-labelledby="upcoming">
                    <li class="dropdown-item" (click)="selectUpcoming('Today')">Today</li>
                    <li class="dropdown-item" (click)="selectUpcoming('Next Week')">Next Week</li>
                    <li class="dropdown-item" (click)="selectUpcoming('Next Month')">Next Month</li>
                </div>
            </div>
        </div>
    </div>
    <div class="groups">
    <div *ngFor="let group of groups" class="card mx-1">
        <h3 class="card-header clickable" (click)="goToGroup(group)">
            {{group.Name}} - {{getPermission(group)}}
        </h3>
        <div class="card-body events">
            <div class="event"
                *ngFor="let event of group.Events | upcoming: upcomingGranularity; let i = index"
                (click)="editEvent($event, event)">
                <div class="card" *ngIf="event !== -1">
                    <div class="card-header" [style.background-color]="darken(group.Color, -20)">
                        <div class="title">
                            {{event.Title}}
                        </div>
                    </div>
                    <div class="card-body" [style.background-color]="event.Color ? event.Color : group.Color">
                        <div class="time">
                            {{formatDate(event)}}
                        </div>
                    </div>
                </div>
                <div *ngIf="event === -1" class="no-events">
                        No Events {{upcomingGranularity}}
                </div>
            </div>
        </div>
    </div>
    <div class="card new-group mx-1">
        <h3 class="card-header">
            New Group
            <a class="add" [routerLink]="['/group/create']">
                <i class="fas fa-plus"></i>
            </a>
        </h3>
        <div class="card-body">
        </div>
    </div>
    </div>
</div>
</div>