<mnm-header></mnm-header>
<div class="group-container">
    <recommended style="width: 15%"></recommended>
    <div class="groups" *ngIf="groups">
    <div *ngFor="let group of groups" class="card mx-1">
        <h3 class="card-header">
            {{group.Name}}
        </h3>
        <div class="card-body events">
            <div *ngIf="group.Events.length === 0" class="no-events">
                No Events {{upcomingGranularity}}
            </div>
            <div class="event card"
                *ngFor="let event of group.Events; let i = index"
                (click)="editEvent($event, event)">
                <!-- <div class="break" *ngIf="weekBreak(i, i + 1)"></div> -->
                <div class="card-header" [style.background-color]="darken(group.Color, -20)">
                    <div class="title">
                        {{event.Title}}
                    </div>
                </div>
                <div class="card-body" [style.background-color]="event.Color ? event.Color : group.Color">
                    <div class="time">
                        {{formatDate(event)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card new-group" style="width: 18rem">
        <div class="card-header">
            New Group
        </div>
        <div class="card-body">
        </div>
    </div>
</div>
</div>