<div class="create-group">
    <form #form="ngForm" [formGroup]="groupForm" class="pt-4 col-sm-8" (ngSubmit)="createGroup(groupForm)">
        <div class="form-group">
            <div class="col-sm-1">
                <div class="font-awesome">
                    <i class="fas fa-pencil-alt"></i>
                </div>
            </div>
            <div class="col-sm-11">
                <input formControlName="Name" class="form-control" placeholder="Group Name">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-1">
                <div class="font-awesome">
                    <i class="fas fa-edit"></i>
                </div>
            </div>
            <div class="col-sm-11">
                <input formControlName="Description" class="form-control" placeholder="Description">
            </div>
        </div>
        <div class="form-group"
            formArrayName="Members"
            *ngFor="let member of groupForm.get('Members').controls; let i = index">
            <div class="col-sm-1">
                <div class="font-awesome">
                    <i class="fas fa-user"></i>
                </div>
            </div>
            <div [formGroupName]="i" class="col-sm-4">
                <member-form
                    [users]="users"
                    [member]="groupForm.get('Members').controls[i]"
                    (added)="addMember()">
                </member-form>
            </div>
            <div class="font-awesome col-sm-1 clickable"
                *ngIf="i < groupForm.controls.Members.controls.length - 1"
                (click)="removeMember(i)">
                <i class="fa fa-times"></i>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-success pull-right">
                    Create Group
                </button>
            </div>
        </div>
    </form>
</div>