<div class="week-view">
    <div class="banner-container">
        <div class="banner" *ngIf="week">
            <div class="weekday" *ngFor="let weekday of week.days">
                <div class="title">
                    {{weekday.day.display.substring(0, 3)}}
                </div>
                <div class="number">
                    {{weekday.day.display.slice(-2)}}
                </div>
            </div>
        </div>
    </div>
    <div class="events-container">
        <div class="time" scrollToNow>
            <div class="hour" *ngFor="let hour of hours">
                {{hour}}
            </div>
        </div>
        <div class="week" #weekEl *ngIf="week?.days">
            <div class="day" *ngFor="let day of week.days" [ngClass]="{'current': day.day.current, 'active': day.day.active }">
                <div class="hour" *ngFor="let hour of hours"></div>
                <event-list [events]="day.events"></event-list>
            </div>
        </div>
    </div>           
</div>