<div class="week-view" *ngIf="!loading">
    <div class='banner-container'>
        <div class='banner'>
            <div class="weekday" *ngFor="let weekday of week.days">
                {{weekday.day.display}}
            </div>
        </div>
    </div>
    <div class="week-container">
        <div class="time">
            <div class="hour" *ngFor="let hour of hours">
                {{hour}}
                <hr class='line'/>
            </div>
        </div>
        <div class="week" *ngIf="!loading">
            <div class="day" *ngFor="let day of week.days" [ngClass]="{'current': day.day.current }">
                <div class="event" *ngFor="let event of day.events" [ngStyle]="{'margin-top': getStart(event) + 'px', 'height': getDuration(event) + 'px'}">
                    {{event.Title}}
                </div>
                {{resetVars()}}
            </div>
            <div class="time-markers"><div *ngFor="let hour of hours"></div></div>
        </div>
    </div>            
</div>