<div class="group-component container" *ngIf="!loading">
    <div class="row">
        <div class="col-sm-6">
            <div class="card my-3">
                <div class="card-header page-header">
                    <div class="input-container" *ngIf="editName">
                        <input size="250" class="alt-input" [(ngModel)]="group.Name">
                    </div>
                    <div class="alt-input" *ngIf="!editName">
                        {{group.Name}}
                    </div>
                    <div class="font-awesome clickable ml-2" (click)="toggleEditName()">
                        <i class="fas fa-pencil-alt"></i>
                    </div>
                </div>
                <div class="card-body">
                    {{group.Description}}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <div class="header-title">Upcoming Events</div>
                    <div ngbDropdown>
                        <button class="btn" ngbDropdownToggle id="upcoming">{{upcomingGranularity}}</button>
                        <div ngbDropdownMenu aria-labelledby="upcoming">
                            <li class="dropdown-item" (click)="selectUpcoming('Today')">Today</li>
                            <li class="dropdown-item" (click)="selectUpcoming('Next Week')">Next Week</li>
                            <li class="dropdown-item" (click)="selectUpcoming('Next Month')">Next Month</li>
                        </div>
                    </div>
                </div>
                <div class="card-body events">
                    <div class="event"
                        *ngFor="let event of group.Events | upcoming: upcomingGranularity; let i = index"
                        (click)="editEvent($event, event)">
                        <div class="card" *ngIf="event !== -1">
                            <div class="card-header" [style.background-color]="darken(group.Color, -20)">
                                <div class="title">
                                    {{event.Title}}
                                </div>
                            </div>
                            <div class="card-body" [style.background-color]="event.Color ? event.Color : group.Color">
                                <div class="time">
                                    {{formatDate(event)}}
                                </div>
                            </div>
                        </div>
                        <div *ngIf="event === -1" class="no-events">
                                No Events {{upcomingGranularity}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <h2 class="card-header">
                    Group Members
                </h2>
                <div class="card-body">
                    <div class="member" *ngFor="let member of group.Members">
                        <div class="title">
                            {{member.User.Name}}
                            <small>{{member.User.Email}}</small>
                        </div>
                        <div class="role" ngbDropdown placement="bottom-right" *ngIf="userPermission > GroupPermission.Member">
                            <button class="btn" id="member-permission" ngbDropdownToggle>{{GroupPermission[member.Permission]}}</button>
                            <div aria-labelledby="member-permission" ngbDropdownMenu>
                                <li class="dropdown-item"
                                    (click)="changePermisson(member, GroupPermission.None)">
                                    Remove
                                </li>
                                <li class="dropdown-item"
                                    (click)="changePermisson(member, GroupPermission.Member)">
                                    {{GroupPermission[1]}}
                                </li>
                                <li class="dropdown-item"
                                    (click)="changePermisson(member, GroupPermission.Manager)">
                                    {{GroupPermission[2]}}
                                </li>
                                <li class="dropdown-item"
                                    (click)="changePermisson(member, GroupPermission.Owner)">
                                    {{GroupPermission[3]}}
                                </li>
                            </div>
                        </div>
                        <div class="role" *ngIf="userPermission === GroupPermission.Member">
                            {{GroupPermission[member.Permission]}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>