<div class="pr-2" *ngIf="recommendedGroups">
    <div class="recommended px-2 pt-3">
        <div style="font-size: 18px">Recommended Groups</div>
        <hr class="my-2">
        <div *ngFor="let rec of recommendedGroups" class="card group">
            <div class="card-header" [style.background-color]="darken(rec.Color, -20)">
                {{rec.Name}}
                <div class="font-awesome clickable" (click)="addMember(rec)">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="card-body" [style.background-color]="rec.Color">
                {{rec.Description}}
            </div>
        </div>
    </div>
</div>