<div class="edit-event">
    <form   #form="ngForm"
            [formGroup]="eventForm"
            (ngSubmit)="createEvent(eventForm)"
            *ngIf="eventForm"
            class="pt-4">
        <div class="top-panel">
            <div class="form-group row">
                <div class="pl-3">
                    <div class="font-awesome x-button" (click)="router.navigate(['dashboard'])">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
                <div class="col-sm-9">
                    <input class="form-control title"
                        [ngClass]="{ 'border-danger' : eventForm.get('Title').errors }"
                        type="text"
                        formControlName="Title"
                        placeholder="Add Title...">
                </div>
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-success">{{ edit ? 'Edit' : 'Create' }} Event</button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 date-group ml-5">
                    <div class="date">
                        <input
                            class="form-control"
                            formControlName="StartDate"
                            placeholder="Start Date"
                            bsDatepicker
                            [bsConfig]="{ containerClass: 'theme-blue' }">
                    </div>
                    <div class="mx-2">
                        <timepicker formControlName="StartTime"></timepicker>
                    </div>
                    <div class="mx-2">to</div>
                    <div class="date">
                        <input
                            class="form-control"
                            formControlName="EndDate"
                            placeholder="Start Date"
                            bsDatepicker
                            [bsConfig]="{ containerClass: 'theme-blue' }">
                    </div>
                    <div class="mx-2">
                        <timepicker formControlName="EndTime" [showSpinners]="false"></timepicker>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 ml-5">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="allDayCheck" formControlName="AllDay">
                        <label class="form-check-label" for="allDayCheck">
                            All Day
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row px-4">
            <div class="col-sm-7">
                <div class="detail-tab">
                    <div class="mb-1">Event Details</div>
                </div>
            </div>
            <div class="col-sm-5">
            <div class="detail-tab ml-3">
                    <div class="mb-1">Guests</div>
                </div>
            </div>
        </div>
        <div class="hr"></div>
        <div class="bottom-panel row">
            <div class="col-sm-7 more-info">
                <div class="form-group row">
                    <div class="col-sm-1">
                        <div class="font-awesome">
                            <i class="fas fa-users"></i>
                        </div>
                    </div>
                    <div class="col-sm-11">
                        <group-select [group]="eventForm.get('Group')"
                                        [groups]="groups">
                        </group-select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-1">
                        <div class="font-awesome">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                    </div>
                    <div class="col-sm-11">
                        <location-input formControlName="Location"></location-input>
                    </div>
                </div>
                <div class="form-group row" *ngIf="showNotification">
                    <div class="col-sm-1">
                        <div class="font-awesome">
                            <i class="fa fa-bell"></i>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <input  type="number"
                                class="form-control"
                                min="0"
                                formControlName="NotificationValue">
                    </div>
                    <div ngbDropdown>
                        <button class="btn" id="notification" ngbDropdownToggle>
                            {{ getNotificationGranularity() }}
                        </button>
                        <div ngbDropdownMenu aria-labelledby="notification">
                            <li (click)="setNotification(0)" class="dropdown-item">
                                Minutes
                            </li>
                            <li (click)="setNotification(1)" class="dropdown-item">
                                Hours
                            </li>
                            <li (click)="setNotification(2)" class="dropdown-item">
                                Days
                            </li>
                            <li (click)="setNotification(3)" class="dropdown-item">
                                Weeks
                            </li>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <div class="font-awesome clickable" (click)="removeNotification()">
                            <i class="fas fa-times"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-1">
                        <div class="font-awesome">
                            <i class="fas fa-paint-brush"></i>
                        </div>
                    </div>
                    <div ngbDropdown>
                        <div class="col-sm-11">
                            <button class="btn color-btn" id="color" ngbDropdownToggle>
                                <div class="color" [style.background-color]="eventForm.get('Color').value"></div>
                            </button>
                        </div>
                        <div ngbDropdownMenu aria-labelledby="color" class="color-dropdown">
                            <li *ngFor="let color of colors" class="dropdown-item" (click)="setColor(color)">
                                <div class="color" [style.background-color]="color"></div>
                            </li>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-1">
                        <div class="font-awesome">
                            <i class="fas fa-edit"></i>
                        </div>
                    </div>
                    <div class="col-sm-11">
                        <input  id="notes"
                                formControlName="Notes"
                                class="form-control"
                                placeholder="Add description...">
                    </div>
                </div>
            </div>
            <div class="vl"></div>
            <div class="col-sm-5" formArrayName="Members">
                <div class="form-group"
                    *ngFor="let member of eventForm.controls.Members.controls; let i = index">
                    <div [formGroupName]="i" class="col-sm-11">
                        <member-form
                            [users]="users"
                            [member]="eventForm.controls.Members.controls[i]"
                            (added)="addMember()">
                        </member-form>
                    </div>
                    <div class="font-awesome col-sm-1 clickable"
                        *ngIf="i < eventForm.controls.Members.controls.length - 1"
                        (click)="removeMember(i)">
                        <i class="fa fa-times"></i>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>