<div class="container site-header sticky-top">
    <h2>{{month}}</h2>
    <div class="dropdown">
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{granularity}}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item">Day</button>
                <button class="dropdown-item">Week</button>
                <button class="dropdown-item">Month</button>
                <button class="dropdown-item">Year</button>
                <button class="dropdown-item">4 Day</button>
            </div>
        </div>
    </div>
</div>