<div class="month-header" *ngIf="!loading">
    <h1>{{month.name}}</h1>
</div>
<div class="month" *ngIf="!loading">
    <div class="weekdays">
        <div class="weekday" *ngFor="let weekday of month.weekdays">
            {{weekday}}
        </div>
    </div> 
    <div class="weeks" *ngFor="let week of month.weeks" [ngClass]="{'current': week.current}">
        <div class="day"
             *ngFor="let day of week.days"
            [ngClass]="{ 'current': day.day.current,
                         'future': day.day.future,
                         'past': day.day.past }">
            <span class="day-number">{{day.day.display}}</span>
            <span class="events" *ngFor="let event of day.events">
                <div class="event">
                    {{event.Title}}
                    <span class="time">{{ friendlyTime(event.StartTime) }}</span>
                </div>
            </span>
        </div>
    </div>
</div>