<div class="month mt-4" *ngIf="!loading">
    <ng-template #popContent>
       <mnm-event-popover [event]="event"></mnm-event-popover>
    </ng-template>
    <div class="weekdays">
        <div class="weekday" *ngFor="let weekday of month.weekdays">
            {{weekday}}
        </div>
    </div> 
    <div class="weeks" *ngFor="let week of month.weeks" [ngClass]="{'current': week.current}">
        <div class="day"
             *ngFor="let day of week.days"
            [ngClass]="{
                'current': day.day.current,
                'future': day.day.future,
                'past': day.day.past }"
            (dblclick)="doubleClickDay($event, day)">
            <span class="day-number">{{day.day.display}}</span>
            <span class="events" *ngFor="let event of day.events" (dblclick)="doubleClickEvent($event, event)">
                <a class="event"
                    *ngIf="!event.Hidden"
                    id="{{event.Id}}"
                    [ngbPopover]="popContent"
                    popoverTitle="{{event.Title}}"
                    #p="ngbPopover" triggers="manual"
                (click)="togglePopover(p, event)">
                    <span class="event-title">{{event.Title}}</span>
                    <span class="time">{{ friendlyTime(event.StartTime) }}</span>
                </a>
            </span>
        </div>
    </div>
</div>