.line{
    color: darkblue;
    height: 100px;
}
.day-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 75vh;
    overflow: scroll;
}

.time {
    justify-content: space-between;
    border: 1px solid #fff;
    display: flex;
    flex-direction: column;
    height: 150vh;
}

.day {
  width: 100%;
  border-right: 1px solid darkgrey;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:last-child {
      border-right: none;
  }

  .day-number {
      font-size: 16px;
      font-weight: 300;
      width: 100%;
  }

  .events {
      justify-content: center;
      align-content: space-between;
  }

  .event {
      background-color: burlywood;
      width: 140px;
      border-radius: 4px;
      padding-left: 5px;
  }

  .todoitem {
    background-color: burlywood;
    width: 450px;
    height: 50px;
    border-radius: 4px;
    padding-left: 5px;
}
}

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .header-container {
    color: darkblue;
    background-color: lightblue;
    display: flex;
    justify-content: center;
  }
  
  .header {
    width: 900px;
    height: 50px;
    display: flex;
    color: darkblue;
    font-size: 18pt;
    justify-content: center;
    align-items: center;
  }

  .list-grid-container {
    display: flex;
    justify-content: center;
  }
  
  .list-grid {
    width: 900px;
    display: flex;
    justify-content: center;
  }
  
  .list-grid-item {
    border: 10px solid #fff;
    width: 500px;
    height: 620px;
  }

  .activity-grid-container {
    display: flex;
    justify-content: center;
  }
  
  .activity-grid {
    width: 900px;
    display: flex;
    justify-content: center;
  }
  
  .activity-grid-item {
    border: 10px solid #fff;
    width: 350px;
    height: 350px;
  }

  .btn{
    width: 150px;
    height: 40px;
    display: flex;
    color: darkblue;
    background-color: lightblue;
    font-size: 18pt;
    justify-content: center;
    flex-direction: row;
  }